* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: calc(62.5% + 0.3vw);
}

body {
  background-color: hsl(210, 46%, 95%);
  min-height: 100vh;
  max-width: 37.5rem;
  margin: 0 auto;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  margin: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* IMAGE */

.image-container {
  height: 22rem;
  overflow: hidden;
}

/* CODE */

.code-container {
  padding: 4rem 3rem 0;
}

.code-container h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.code-container p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 2.2rem;
}

/* PEOPLE */

.people-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem 3rem 2rem;
}

.peopleimage-container {
  margin-right: 1.5rem;
}
.peopleimage-container img {
  width: 5rem;
  border-radius: 100%;
}

.peopleinfo-container h2 {
  color: hsl(217, 19%, 35%);
  font-size: 1.4rem;
  font-weight: 700;
}

.peopleinfo-container p {
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}

.goto-container {
  margin-left: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: hsl(210, 46%, 95%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goto-container img {
  width: 2rem;
}

@media screen and (min-width: 1100px) {
  body {
    max-width: 85rem;
  }
  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 30%;
    height: calc(25rem + 0.3vw);
    width: 100%;
  }

  /* IMAGE */

  .image-container {
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
  }

  .image-container img {
    object-fit: cover;
    object-position: left;
  }

  /* CODE */

  .code-container {
    padding: 5rem 4rem 2rem;
  }

  .code-container h1 {
    line-height: 2.5rem;
  }

  /* PEOPLE */

  .people-container {
    padding: 0 4rem 2rem;
  }
}
