* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: calc(62.5% + 0.3vw);
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  max-width: 37.5rem;
  margin: 0 auto;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  color: #fff;
}

.container {
  padding: 7.5rem 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > * {
  margin-bottom: 5rem;
}

/* HEADER CONTAINER */

.header-container h1 {
  font-size: 2.5rem;
  font-size: 700;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.header-container p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

/* DATA CONTAINER */

.data-container > * {
  box-shadow: 0 7.5px 1px hsla(249, 10%, 26%, 0.25);
}
.price-container {
  margin-bottom: 2rem;
  background-color: hsl(248, 32%, 49%);
  border-radius: 1rem;
}

.price-container a::before {
  content: "Try it free 7 days";
  font-weight: 700;
}

.price-container a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1rem 5rem;
  text-align: center;
}

.form-container {
  padding: 2rem 2rem;
  background-color: #fff;
  border-radius: 1rem;
}

.form-container form input {
  padding: 1.5rem 1.5rem;
  width: 100%;
  margin-bottom: 1.25rem;
  display: block;
  color: hsl(249, 10%, 26%);
  font-weight: 700;
  border: 1px solid hsla(246, 25%, 77%, 0.2);
  border-radius: 0.5rem;
}

.form-container form input:focus,
.form-container form input:hover {
  border: 2px solid hsl(0, 100%, 74%);
  outline: none;
}

.form-container form button {
  width: 100%;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.form-container p {
  padding: 0 2rem;
  color: hsla(246, 25%, 77%, 0.6);
  font-size: 1rem;
  text-align: center;
}

.form-container p::after {
  content: " Terms and Services";
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

.color {
  color: hsl(0, 100%, 74%);
  color: hsl(154, 59%, 51%);
  color: hsl(248, 32%, 49%);
  color: hsl(249, 10%, 26%);
  color: hsl(246, 25%, 77%);
}

/* Learn to code by watching others See how experienced developers solve problems in real-time. Watching scripted tutorials is great, but understanding how developers think is invaluable. Try it free 7 days then $20/mo. thereafter First Name Last Name Email Address Password Claim your free trial By clicking the button, you are agreeing to our Terms and Services 
400;500;600;700& */
